<article class="post-entry">
  <header class="post-header">
    <h3 class="post-title"><a href="{{ .RelPermalink }}" class="post-link">{{ .Title }}</a></h3>
    <p class="post-meta">@{{ if isset .Params "author" }}{{ .Params.author }}{{ else }}{{ .Site.Params.author }}{{ end }} · {{ .Date.Format "2006/01/02" }} </p>
  </header>
  {{ if isset .Params "cover" }}
    <img class="post-cover" src="{{ .Params.cover }}" alt="{{ .Title }}">
  {{ end }}
  {{ if isset .Site.Params "description" }}
  <p class="post-summary">{{ .Description | plainify | htmlUnescape }}</p>
  {{ else }}
  <p class="post-summary">{{ .Summary | plainify | htmlUnescape }}</p>
  {{ end }}
  <footer class="post-footer">
    <a class="read-more" href="{{ .RelPermalink }}">阅读更多 →</a>
  </footer>
</article>
